*.class
checkpoint/
datasetOut/
spark-warehouse/
target/
*.iml
.idea
logs

#helloSpark
bigData/HelloSpark/.idea/
bigData/HelloSpark/target/
bigData/HelloSpark/*.iml
bigData/HelloSpark/dependency-reduced-pom.xml

#sparkmvn
bigData/sparkmvn/.idea/
bigData/sparkmvn/target/
bigData/sparkmvn/*.iml
bigData/sparkmvn/dependency-reduced-pom.xml

#helloSpark
bigData/HelloSpark/project/

#hadoop
bigData/hadoop/.idea/
bigData/hadoop/target/
bigData/hadoop/*.iml
bigData/hadoop/dependency-reduced-pom.xml
bigData/hadoop/logs/
bigData/hadoop/spark-warehouse

/bigData/~$igData.doc
/java/配置文件/idea设置模板/setting.zip
/bigData/hadoop/maCliApi4Java.dll
/bigData/hadoop/*.log
/bigData/hadoop/*.ipr
/bigData/hadoop/*.iws
/bigData/doc/
/bigData/bigData.doc

#web
.vscode/
/java/~$va2-升级总结.doc
