<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style type="text/css">
    .current {
        color: orange;
    }
</style>

<body>
    <div id="app">
        <fruit-list :list='list'>
            <template slot-scope='slotProps'>
                <strong v-if='slotProps.info.id==2' class="current">{{slotProps.info.name}}</strong>
                <span v-else>{{slotProps.info.name}}</span>
                <p>{{slotProps}}</p>
            </template>
        </fruit-list>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript">
        /*
         * 作用域插槽 :info='item' 这一行获取item
         * 带数据的插槽,之前都是父组件-->子组件数据
         * 子组件-->父组件,父组件中控制标签中的显示内容
         * <slot :info='item'  item是子组件的数据, :info 名字可以随意,把数据绑定到这个info属性上,
         * <template slot-scope='slotProps'> slot-scope 固定写法,'slotProps'可以随意起名字,获取到子组件的信息,
         * slotProps:获取到传值对象数据为后面的  { "info": { "id": 3, "name": "banana" } }
         * slotProps.info 获取属性info的值, 后面根据逻辑判断
         */
        Vue.component('fruit-list', {
            props: ['list'],
            template: `
        <div>
          <li :key='item.id' v-for='item in list'>
            <slot :info='item'>{{item.name}}</slot>
          </li>
        </div>
      `
        });
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    id: 1,
                    name: 'apple'
                }, {
                    id: 2,
                    name: 'orange'
                }, {
                    id: 3,
                    name: 'banana'
                }]
            }
        });
    </script>
</body>

</html>