<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>{{msg}}</div>
        <div>
            <input type="text" v-model="msg" />
            <br>
            <input type="text" v-model="msg" />
            <br>
            <input type="checkbox" v-model="msg" />
        </div>
        <div>
            <form action="">
                性别:<br>
                男:<input type="radio" v-model="msg" value="男">
                女:<input type="radio" v-model="msg" value="女">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript">
        /*
         * 双向数据绑定:不调用函数改变数据就能同步所有数据
         * 1、从页面到数据
         * 2、从数据到页面
         * v-model 数据绑定
         　1.可以在表单中使用v-model实现数据双向绑定
         　text类型中的文本都是字符串，v-model中的值相同

         　2.复选框 v-model中的值是boolean

           3.单选框 v-model中值是value

           v-model实现的原理：
           　　angular是mvc模式，ng-model是靠脏值检测
           　　vue靠的是数据劫持和发布者订阅者模式
           　　数据劫持：
           　　Object.definePropery() 这个方法
           　　　* 生成对象的方法 字面量 var obj={}/new Object()
           　　　* Object.definePropery() 给一个对象定义新属性或修改一个对象的属性
           　　　* object.getOwnPropertyDescriptor() 返回关于一个对象某个属性的描述符，
           　　　　第一个参数是目标对象，第二个参数是 对象的某个属性
           　　　　　　var obj={age:12}
           　　　　　　console.log(object.getOwnPropertyDescriptor(obj,'age'))
           　　　　返回属性的意思：
           　　　　configurable 配置选项，值为true代表这个属性可删除
           　　　　enumerable 值为true 代表可枚举 可以使用 for in 遍历
           　　　　value 这个属性的值
           　　　　writeable 代表这个属性可以更改
           　　　　　如果有了set和get属性就不能有writeable 和 value属性
            常见的修饰符：
           　.lazy v-model 在每次 input 事件触发后将输入框的值与数据进行同步 <input v-model.lazy="msg">
           　.number 自动将用户的输入值转为数值类型 <input v-model.number="age" type="number">
           　.trim 自动过滤用户输入的首尾空白字符 <input v-model.trim="msg">

      vue的事件修饰符
           　　vue.js为 v-on 提供了事件修饰符
           　　.stop 阻止maop
           　　.prevent 阻止默认事件
           　　.captur 添加事件监听器时使用事件捕获模式
           　　.self 只当事件在该元素本身（比如不是子元素）触发是触发回调
           　　 .once 事件值触发一次

           　　事件修饰符是可以串联的：
           　　.stop和.self的区别：
           　　.stop阻止事件冒泡
           　　.self只会阻止自己身上冒泡行为的触发，并不会真正阻止 冒泡行为
         */
        var vm = new Vue({
            el: "#app",
            data: {
                msg: "Hello Vue"
            }
        })
    </script>
</body>

</html>